<!DOCTYPE html>
<html>

<head>

  <title>StartupByte Assignment</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- CDN links -->
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

  <!-- Static files -->
  <link rel="stylesheet" type="text/css" href="assets/styles/base.css">
  <script src="assets/js/app.js"></script>
  <script src="assets/js/service.js"></script>
  <script src="assets/js/controller.js"></script>

</head>

<body ng-app="myApp" ng-controller="appController">

    <!-- Header Starts -->
    <div class="row">
      <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 header-div">
        <span id="header-text">StartupByte</span>
        <br/>
        <span id="sub-header-text">Discover.Engage.Transact</span>
        <div class="right-header">
          <span class="glyphicon glyphicon-search" id="search-icon"></span>
          <span class="glyphicon glyphicon-user" id="user-icon" style="margin-left: 20px;"></span>
        </div>
      </div>
      <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 sub-header-div">
        <span id="sub-header">
          <span class="glyphicon glyphicon-envelope"></span>
          AMA
        </span>
        <span class="glyphicon glyphicon-remove" id="remove-icon"></span>
      </div>
    </div>
    <!-- Header Ends -->

    <!-- Notification Body Starts -->
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 notification-div">
          <div class="col-md-3 col-lg-3 hidden-xs hidden-sm notification-space-holder">
            <div id="filter">
              <span class="glyphicon glyphicon-filter"></span>
              <span>Filter By</span>
              <ul class="list-unstyled">
                <li ng-repeat="filter in filterList" ng-bind="filter"></li>
              </ul>
            </div>
          </div>
          <div class="col-md-8 col-lg-8 col-xs-12 col-sm-12 col-offset-md-1 col-offset-lg-1 notifications-holder">
            <div class="notification-card" ng-repeat="notification in notifications">
              <div id="notification-header-content">
                <span ng-bind="notification.ama_username"></span>
                <span id="category" ng-bind="notification.ama_category"></span>
              </div>
              <div class="notification-main-content">
                <span ng-bind="notification.ama_message"></span>
                <span id="date" ng-bind="notification.ama_date"></span>
              </div>
              <div class="notification-footer-content">
                <button type="button" class="btn btn-default">
                  <span class="glyphicon glyphicon-triangle-top"></span>
                  <span class="counts" ng-bind="notification.upvote_count"></span>
                </button>

                <button type="button" class="btn btn-default">
                  <span class="glyphicon glyphicon-comment"></span>
                  <span ng-bind="notification.comments_count"></span>
                </button>

                <button type="button" class="btn btn-default remind">
                   <span class="glyphicon glyphicon-calendar"></span>
                   Remind
                 </button>
              </div>
            </div>
            <div class="notification-card" id="load-more-div">
              <div ng-click="loadMore()">
                <span>Load More</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Notification Body Ends -->

    <!-- Footer Starts -->
    <div class="row footer">
      <div class="col-md-6 col-lg-6 col-xs-12 col-sm-12 footer-div">
        <span id="header-text">StartupByte</span>
        <br/>
        <span id="sub-header-text">Discover.Engage.Transact</span>
      </div>
      <div class="col-md-6 col-lg-6 col-xs-12 col-sm-12">
        <div class="footer-links">
          <ul class="list-unstyled">
            <li ng-repeat="footerLink in footerLinkList" ng-bind="footerLink"></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Footer Ends -->

</body>

</html>
