body {
  font-family: "Comic Sans MS", cursive, sans-serif;
}

/******************** Header Div ********************/
.header-div {
  height: 100px;
  background-color: #006699;
  padding: 10px 80px;
}

#header-text {
  color: #e68a00;
  font-size: 24px;
}

#sub-header-text {
  color: #ffffff;
  font-size: 16px;
}

.right-header {
  float: right;
}

#search-icon,
#user-icon
 {
  color: #ffffff;
  font-size: 20px;
}

.sub-header-div {
  height: 50px;
  background-color: #ffcc66;
  padding: 10px 80px;
}

#sub-header {
  color: #ffffff;
  font-size: 20px;
}

#remove-icon {
  color: #ffffff;
  font-size: 20px;
  float:right;
}

/******************** Notifications Div ********************/
.container {
  height: auto;
}

.notification-div {
  height: 100%;
}

.notification-space-holder {
  height: 800px;
  padding: 20px 20px;
  font-size: 16px;
}

#filter {
  color: #808080;
}

#filter > ul {
  margin: 20px 0;
}

#filter > ul >li {
  padding: 10px 0;
  border-bottom: 1px solid #d9d9d9;
}

.notifications-holder {
  height: auto;
}

.notification-card {
  height: 200px;
  width: 100%;
  margin: 30px 0;
  box-shadow: 2px 1px 7px #cdcdcd;
  font-size: 16px; color: #808080;
}

#notification-header-content {
  height: 50px;
  padding: 20px 20px;
}

#notification-header-content > #category {
  display: inherit;
  font-size: 12px;
}

.notification-main-content {
  height: 80px;
  padding: 20px 20px;
}

.notification-main-content > #date {
  display: inherit; font-size: 14px;
}

.notification-footer-content {
  padding: 20px 20px;
}

.notification-footer-content > button {
  color: #808080;
}

.remind {
  float: right;
}

.counts {
  display: inherit;
}

#load-more-div {
  height: 50px;
  padding: 10px 10px;
  text-align: center;
  font-size: 20px;
  font-weight: bolder;
}
/******************** Footer Div ********************/
.footer-div {
  height: 60px;
  background-color: #006699;
  padding: 10px 80px;
}

.footer {
  height: 300px;
  background-color: #006699;
}

.footer-links {
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  margin-top: 30px;
}

.footer-links > ul > li {
  padding: 10px 0;
}




/*****************************************************************************************************
*                                       Mobile CSS                                                   *
******************************************************************************************************/
@media screen and (max-width: 699px) and (min-width: 320px) {

  .container {
    padding: 0;
    margin: 0;
  }

  /****** Mobile Header Div ******/
  .header-div {
    height: 80px;
    padding: 10px 40px;
  }
  .right-header {
    margin-top: -15px;
  }
  .sub-header-div {
    height: 50px;
    background-color: #ffcc66;
    padding: 10px 40px;
  }

  /****** Mobile Notifications Div ******/
  .notification-card {
    height: 180px;
    margin: 20px 0;
    font-size: 16px;
  }
  #notification-header-content {
    padding: 10px 10px;
  }
  .notification-main-content {
    padding: 10px 10px;
  }
  .notification-footer-content {
    padding: 10px 10px;
  }

  /****** Mobile Footer Div ******/
  .footer {
    height: 400px;
  }
  .footer-div {
    text-align: center;
  }
}
